.SideLayout {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 0;
  margin-left: -5px;
  margin-right: -5px;
  align-items: center;
}

.SideLayout_side_start {
  justify-content: flex-start;
}

.SideLayout_side_end {
  justify-content: flex-end;
}

.SideLayout_side_between {
  justify-content: space-between;
}

.SideLayout_padding_small{
  padding: 10px;
}

.SideLayout_padding_medium{
  padding: 20px;
}

.SideLayout-item {
  margin: 0 5px;
}
