.Pagination {
<<<<<<< HEAD
    display: flex;
    justify-content: end;
}

.Pagination-content {
    padding: 22px;
    display: flex;
}

.Pagination-number {
    height: 20px;
    padding: 0 1px;
    min-width: 18px;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
}

.Pagination-number:hover  {
    background: #E1E1E1;
}

.Pagination-number_active {
    color: white;
    background-color: #0087E9;
}

.Pagination-number_active:hover {
    color: white;
    background-color: #0087E9;
}

.Pagination-threeDots {
    width: 20px;
    text-align: center;
    height: 20px;
    color: #CCCCCC;
}
=======
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding: 24px 20px;
  font-size: 16px;
  margin: 0;
}

.Pagination-item {
  display: block;
  padding: 2px 4px 2px 2px;
  margin: 0;
  cursor: pointer;
  height: 20px;
  min-width: 20px;
  box-sizing: border-box;
  text-align: center;
  line-height: 18px;
}

.Pagination-item a,
.Pagination-item a:hover,
.Pagination-item a:active {
  text-decoration: none;
  color: black;
}

.Pagination-item:hover {
  background: #e1e1e1;
}

.Pagination-item_active,
.Pagination-item_active:hover,
.Pagination-item_active a,
.Pagination-item_active a:hover {
  background: #0087e9;
  color: #fff;
}

.Pagination-item_split,
.Pagination-item_split:hover {
  background: transparent;
  cursor: default;
  color: #cccccc;
}
>>>>>>> 7cac612c138cd905f31764e550381383abca68f1
