.input-comment {

}

.input-comment_left-padding {
    margin-left: 30px;
}

.input-comment__content {

}

.input-comment__title {
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    font-size: 12px;
}

.input-comment__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-comment__textarea {
    height: 76px;
    resize: none;
    font-size: 14px;
}

.input-comment__button {
    width: 90px;
    max-width: max-content;
}

.input-comment__row-buttons {
    display: flex;
    gap: 10px;
}