.ArticleCard {
  padding: 20px 40px;
}

.ArticleCard-description {
  font-size: 18px;
  margin: 20px 0;
}

.ArticleCard-prop {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  font-size: 18px
}

.ArticleCard-prop_size_big{
  font-size: 24px;
  font-weight: bold;
}

.ArticleCard-label{
  padding-right: 10px;
}

.ArticleCard-value{
  font-weight: bold;
}
