.Head {
  height: 80px;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Head h1 {
  margin: 0;
  padding: 20px 20px 10px;
}

.Head-closed {
  margin-right: 32px;
  width: 76px;
  height: max-content;
}
