.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
  padding-left: 10px
}

.Item_selected {
  background: #75aaf1;
  color: #fff;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-title a {
  color: #000;
  text-decoration: none;
}

.Item-title a:hover {
  color: #000;
  text-decoration: underline;
}

.Item-actions {
  padding: 20px 20px 20px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px
}

.Item-price {
  padding: 0 0 0 10px;
  white-space: nowrap;
  font-size: 18px;
}
