.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.Controls-label {
  font-size: 18px;
}

.Controls-count {
  padding: 0px 15px 0px 20px;
  font-size: 18px;
  font-weight: bold;
}


