.Card-empty {
    font-size: 36px;
    text-align: center;
    color: #ccc;
    padding: 140px 0 200px;
}

.Card-result-row {
   padding: 20px 110px;
   display: flex;
   justify-content: flex-end;
   margin-bottom: 69px;
}

.Card-label {
    margin-right: 53px;
    font-size: 18px;
    font-weight: bold;
}

.Card-sum {
   font-size: 18px;
   font-weight: bold;
}